<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vesti o Obolelima</title>
    <link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>
</head>
<body>
<h1>Vesti o Obolelima</h1>
<p th:text="${poruka}"></p>
<div>
    <a th:href="@{'/vestObolelima/create'}">Kreiraj vest o obolelima</a>
</div>
<table style="border: 1px solid">
    <thead>
    <tr>
        <th>ID</th>
        <th>Broj Obolelih</th>
        <th>Broj Testiranih</th>
        <th>Broj Pacijenata Na Respiratoru</th>
        <th>Broj Hospitalizovanih</th>
        <th>Broj Ukupno Obolelih</th>
        <th>Datum i vreme objavljivanja izvestaja</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vest : ${listVest}">
        <td th:text="${vest.id}"></td>
        <td th:text="${vest.brObolelih}"></td>
        <td th:text="${vest.brTestiranih}"></td>
        <td th:text="${vest.brNaRespiratorima}"></td>
        <td th:text="${vest.brHospitalizovanih}"></td>
        <td th:text="${vest.brUkupnoObolelih}"></td>
        <td th:text="${vest.datumVremeObjavljivanja}"></td>
        <td><a th:href="@{'/vestObolelima/edit/' + ${vest.id}}" >Izmeni</a></td>
        <td><a th:href="@{'/vestObolelima/delete/' + ${vest.id}}">Izbrisi</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
