<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vakcine</title>
    <link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>
</head>
<body>
<div th:replace="~{navbars/medicinsko_osoblje_navbar :: navbar}">...</div>
<form th:action="@{/medicinskoOsoblje/vakcine}" method="get">
    <div class="input-group">
        <input type="text" name="pretraga" placeholder="Search"style="margin-right: 10px;"/>
        <input type="number" name="min" placeholder="Minimalna Kolicina"/>
        <input type="number" name="max" placeholder="Maksimalna Kolicina"/>
        <div>
            <button type="submit" style="margin-left: 10px;">
                search
            </button>
        </div>
    </div>
</form>
<table style="border: 1px solid">
    <thead>
    <tr>
        <th><a th:href="@{/medicinskoOsoblje/vakcine(order='id', orderBy=${newOrderBy})}">ID</a></th>
        <th><a th:href="@{/medicinskoOsoblje/vakcine(order='ime', orderBy=${newOrderBy})}">Naziv</a></th>
        <th><a th:href="@{/medicinskoOsoblje/vakcine(order='kolicina', orderBy=${newOrderBy})}">Kolicina</a></th>
        <th>Proizvodjac vakcine</th>
        <th>Drzava proizvodnje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vakcina : ${listaVakcina}">
        <td th:text="${vakcina.id}"></td>
        <td><a th:href="@{'/vakcina/' + ${vakcina.id}}" th:text="${vakcina.ime}"></a></td>
        <td th:text="${vakcina.kolicina}"></td>
        <td th:text="${vakcina.proizvodjac.proizvodjac}"></td>
        <td th:text="${vakcina.proizvodjac.drzavaProizvodnje}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>