<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <title>Korisnici</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <table class="table">
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Email</th>
            <th>Lozinka</th>
            <th>Datum Rodjenja</th>
            <th>JMBG</th>
            <th>Adresa</th>
            <th>Broj Telefona</th>
            <th>Datum i vreme registracije</th>
        </tr>
        <tr th:each="itKorisnik, status:${korisnici}">
            <td th:text="${itKorisnik.ime}"></td>
            <td th:text="${itKorisnik.prezime}"></td>
            <td th:text="${itKorisnik.email}"></td>
            <td th:text="${itKorisnik.lozinka}"></td>
            <td th:text="${itKorisnik.datumRodjenja}"></td>
            <td th:text="${itKorisnik.jmbg}"></td>
            <td th:text="${itKorisnik.adresa}"></td>
            <td th:text="${itKorisnik.brTelefona}"></td>
            <td th:text="${itKorisnik.datumVremeRegistracije}"></td>

        </tr>
    </table>
</body>
</html>