<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
  <link rel="stylesheet"  type="text/css"  href="css/StiloviForma.css"/>
</head>
<body>
<div th:replace="~{navbars/no_login_navbar :: navbar}">...</div>
<div th:if="${greska}">
  <span th:text="${greska}"></span>
</div>
<div>
  <h2>Prijava</h2>
  <form th:action="@{/login/save}" method="post">
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required>
    </div>
    <div>
      <label for="lozinka">Lozinka:</label>
      <input type="password" id="lozinka" name="lozinka" required>
    </div>
    <input type="submit" value="Prijavi se">
  </form>
  <p>Nemate nalog? <a th:href="@{/korisnici/create}">Registruj se</a></p>
</div>
</body>
</html>