<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocetna</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="C:\Users\Win-10\Desktop\eUpravaOWP\eUprava\src\main\resources\static\css\style.css">
</head>
<body>
    <div class="centralDiv">
        <table class="table-bordered">
            <caption>Vesti</caption>
            <tr>
                <th>Naslov</th>
                <th class="sadrzaj">Sadrzaj</th>
                <th>Datum i vreme objavljivanja</th>
            </tr>
            <tr>
                <td><a th:href="|Vesti/Details?id=${itVest.id}|" th:text="${itVest.naziv}"></a></td>
                <td class="sadrzaj"><a th:href="|Vesti/Details?id=${itVest.id}|" th:text="${itVest.sadrzaj}"></a></td>
                <td th:text="${itVest.datumVremeObjavljivanja}"></td>
            </tr>
        </table>
    </div>
</body>
</html>