<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Karton Pacijenta</title>
    <link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>
</head>
<body>
<div th:replace="~{navbars/pacijent_navbar :: navbar}">...</div>
<table style="border: 1px solid">
<thead>
<tr>
  <th>ID</th>
  <th>Ime</th>
  <th>Prezime</th>
  <th>JMBG</th>
  <th>Broj primljenih doza</th>
  <th>Vreme poslednje primljene doze</th>
</tr>
</thead>
<tbody>
<tr th:if="pacijent">
  <td th:text="${pacijent.korisnikId}"></td>
  <td th:text="${pacijent.korisnik.ime}"></td>
  <td th:text="${pacijent.korisnik.prezime}"></td>
  <td th:text="${pacijent.korisnik.jmbg}"></td>
  <td th:text="${pacijent.doze}"></td>
  <td th:text="${pacijent.vremePrimanjaDoze}"></td>
  </td>
</tr>
</tbody>
</table>
</body>
</html>