<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vakcine</title>
    <link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>
</head>
<body>
<div th:replace="~{navbars/pacijent_navbar :: navbar}">...</div>
<div th:if="${poruka}">
    <span th:text="${poruka}"></span>
</div>
<table style="border: 1px solid">
    <thead>
    <tr>
        <th>ID</th>
        <th>Naziv</th>
        <th>Kolicina</th>
        <th>Proizvodjac vakcine</th>
        <th>Drzava proizvodnje</th>
        <th>Prijava</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vakcina : ${listaVakcina}">
        <td th:text="${vakcina.id}"></td>
        <td th:text="${vakcina.ime}"></td>
        <td th:text="${vakcina.kolicina}"></td>
        <td th:text="${vakcina.proizvodjac.proizvodjac}"></td>
        <td th:text="${vakcina.proizvodjac.drzavaProizvodnje}"></td>
        <td><form th:action="@{/prijava/new}" method="post">
            <input type="hidden" name="vakcinaId" th:value="${vakcina.id}">
            <button type="submit">Prijavi se</button>
        </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>